<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="MarkHazletonFeed" value="https://pkgs.dev.azure.com/markhazleton/_packaging/MarkHazletonFeed/nuget/v3/index.json" />
	<add key="SampleCRUD" value="https://pkgs.dev.azure.com/markhazleton/SampleMvcCRUD/_packaging/SampleCRUD/nuget/v3/index.json" />
  </packageSources>
</configuration>