# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  solution: 'Mwh.Sample.Web.sln'
  buildPlatform: 'Any CPU'
  dotNetVersion: '6.0.x'
  buildConfiguration: 'Release'
steps:
- task: UseDotNet@2
  displayName: 'Use .NET Core sdk 6.0.100'
  inputs:
    packageType: 'sdk'
    version: '6.0.100' 
    performMultiLevelLookup: true
    includePreviewVersions: true

- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'Mwh.Sample.Web.sln'

- task: UseDotNet@2
  inputs:
    version: $(dotNetVersion)
    includePreviewVersions: true
- script: dotnet build Mwh.Sample.Web.sln --configuration $(buildConfiguration)
  displayName: 'Build .NET 6 Application'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'

- task: VSTest@2
  inputs:
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: CRAnalyzeTask@201
  inputs:
      solution: 'Mwh.Sample.Web.sln'
      sendLogs: true