<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
	<add key="DevExpress" value="https://nuget.devexpress.com/RyVqfmUUgcPAnb5TepdwrQgmpH8EqP9YFD6Oyz4YRVFpDyJ33X/api" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>