<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
	<add key="SampleCRUD" value="https://pkgs.dev.azure.com/markhazleton/SampleMvcCRUD/_packaging/SampleCRUD/nuget/v3/index.json" />
    <add key="MarkHazletonFeed" value="https://pkgs.dev.azure.com/markhazleton/_packaging/MarkHazletonFeed/nuget/v3/index.json" />
    <add key="DevExpress" value="https://nuget.devexpress.com/RyVqfmUUgcPAnb5TepdwrQgmpH8EqP9YFD6Oyz4YRVFpDyJ33X/api" />
  </packageSources>
</configuration>