@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Employee CRUD</h1>
    <p><a href="https://dotnet.microsoft.com/download/dotnet/6.0">Running on Net 6 </a>.</p>
    <p>An <a href="http://Asp.Net/" class="" rel="noopener noreferrer" target="_blank" mlp="3">Asp.Net</a> MVC Application to demonstrate multiple ways of implementing a basic database table maintenance or Create, Read, Update Delete  (CRUD) user interface</p>
    <p>This site is part of the <a href='https://dev.azure.com/markhazleton/SampleMvcCRUD' target="_blank">SampleMvcCRUD project</a> on Azure Dev Ops.</p>
</div>