@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Sample Mvc CRUD</h1>
    <p><a href="https://dotnet.microsoft.com/download/dotnet/7.0">Running on Net 7 </a>.</p>
    <p>
        An <a href="http://Asp.Net/" class="" rel="noopener noreferrer" target="_blank" mlp="3">ASP.NET</a>
        MVC Application to demonstrate multiple ways of implementing a basic database table maintenance or
        Create, Read, Update Delete  (CRUD) user interface
    </p>
    <p>This website is part of the <a href='https://dev.azure.com/markhazleton/SampleMvcCRUD' target="_blank">SampleMvcCRUD project</a>  on Azure Dev Ops.</p>

    <h2>CI/CD using GitHub Actions</h2>
    <p>When the repository main branch is updated GitHub actiions are used to build and deploy a new image on Docker Hub with the latest tag. </p>



</div>
