

@{
    ViewBag.Title = "Employee MVC";
}
<div class="container">
    <h2>Employee MVC with Ajax</h2>
    <p>
        <a href="#" class="btn btn-primary" onclick="return loadEmployeeEdit('0')">Create New</a>
        <a href="#" class="btn btn-info" onclick="return loadEmployeeList()">Reload List</a>
    </p>

    <div id="content-employeelist">

    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div id="modalContent" class="modal-content">
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            loadEmployeeList();
        });

        //Load Employee List
        function loadEmployeeList() {
            $('#myModal').modal('hide');
            $.ajax({
                url: '/Employee/GetEmployeeList',
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    $("#content-employeelist").html(data);
                    $("#content-employeelist").fadeIn();
                },
                error: function (errormessage) { alert(errormessage.responseText); }
            })
        };

        //Load Employee Edit
        function loadEmployeeEdit(EmpID) {
            $.ajax({
                url: '/Employee/GetEmployeeEdit/' + EmpID,
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    $("#modalContent").html(data);
                    $('#myModal').modal('show');
                    $('#btnUpdate').show();
                    $('#btnAdd').hide();
                },
                error: function (errormessage) { alert(errormessage.responseText); }
            })
        };

        //Load Employee Delete
        function loadEmployeeDelete(EmpID) {
            $.ajax({
                url: '/Employee/GetEmployeeDelete/' + EmpID,
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    $("#modalContent").html(data);
                    $('#myModal').modal('show');
                    $('#btnUpdate').show();
                    $('#btnAdd').hide();
                },
                error: function (errormessage) { alert(errormessage.responseText); }
            })
        };

        function SaveEmployee(id) {
            $.ajax({
                url: '/employee/save',
                type: 'post',
                data: $('form#frmEmployee').serialize(),
                dataType: 'html',
                success: function (data) {
                    loadEmployeeList();
                },
                error: function (errormessage) { alert(errormessage.responseText); }
            });
        }

        function DeleteEmployee(id) {
            $.ajax({
                url: '/employee/delete/' + id,
                type: 'post',
                dataType: 'html',
                success: function (data) {
                    loadEmployeeList();
                },
                error: function (errormessage) { alert(errormessage.responseText); }
            });
        }

    </script>
}
