@page "/fetchdata"

@using Mwh.Sample.Common.Repositories

<h1>Employee List</h1>

@if (employeeList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>State</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in employeeList)
            {
                <tr>
                    <td>@forecast.Name</td>
                    <td>@forecast.Age</td>
                    <td>@forecast.State</td>
                    <td>@forecast.Country</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private EmployeeModel[] employeeList;

    protected override async Task OnInitializedAsync()
    {
        var mock = new EmployeeMock();
        employeeList = mock.EmployeeCollection().ToArray();
    }
}
