@{
    var currentYear = DateTime.Now.Year.ToString();
    var status = new ApplicationStatus(Assembly.GetExecutingAssembly());
}

<div class="container">
    <div class="row gy-3">
        <div class="col-lg-4 col-md-6">
            <div class="d-flex align-items-center mb-2">
                <i class="bi bi-info-circle me-2"></i>
                <h5 class="mb-0">App Info</h5>
            </div>
            <p class="mb-1">
                <span class="text-light-emphasis">Version:</span>
                <span class="badge bg-secondary">@status.BuildVersion.ToString()</span>
            </p>
            <p class="mb-1">
                <span class="text-light-emphasis">Last Built:</span>
                <span>@status.BuildDate.ToLocalTime().ToString("MMM dd, yyyy")</span>
            </p>
        </div>

        <div class="col-lg-4 col-md-6 text-center">
            <div class="d-flex align-items-center justify-content-center mb-2">
                <i class="bi bi-code-slash me-2"></i>
                <h5 class="mb-0">UI Sample Spark</h5>
            </div>
            <p>&copy; 2019-@currentYear All Rights Reserved</p>
            <div class="d-flex justify-content-center gap-3 mt-3">
                <a href="https://github.com/markhazleton/UISampleSpark" class="text-decoration-none" target="_blank"
                    title="GitHub Repository">
                    <i class="bi bi-github fs-4"></i>
                </a>
                <a href="https://markhazleton.com" class="text-decoration-none" target="_blank"
                    title="Mark Hazleton, Lifelong Learner">
                    <i class="bi bi-person-badge fs-4"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-4 d-none d-lg-block">
            <div class="d-flex align-items-center mb-2">
                <i class="bi bi-link-45deg me-2"></i>
                <h5 class="mb-0">Quick Links</h5>
            </div>
            <ul class="list-unstyled">
                <li>
                    <a href="/" class="text-decoration-none">
                        <i class="bi bi-chevron-right"></i> Home
                    </a>
                </li>
                <li>
                    <a href="/swagger/" class="text-decoration-none">
                        <i class="bi bi-chevron-right"></i> API Documentation
                    </a>
                </li>
                <li>
                    <a href="https://github.com/markhazleton/UISampleSpark" class="text-decoration-none"
                        target="_blank">
                        <i class="bi bi-chevron-right"></i> GitHub Repository
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

       
       