<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DiffEngine" version="6.8.0" targetFramework="net48" />
  <package id="EmptyFiles" version="2.7.0" targetFramework="net48" />
  <package id="log4net" version="2.0.12" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.2" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="3.9.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="3.9.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.3.2" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeCoverage" version="16.9.4" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DiagnosticAdapter" version="3.1.15" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="5.0.2" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Win32.SystemEvents" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Windows.Compatibility" version="5.0.2" targetFramework="net48" />
  <package id="MSTest.TestAdapter" version="2.2.3" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="2.2.3" targetFramework="net48" />
  <package id="Mwh.Sample.Common" version="2.0.1" targetFramework="net48" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="NuGet.CommandLine" version="5.9.1" targetFramework="net48" developmentDependency="true" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.CodeDom" version="5.0.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net48" />
  <package id="System.ComponentModel.Composition" version="2010.2.11.1" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" targetFramework="net48" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net48" />
  <package id="System.Data.Odbc" version="5.0.0" targetFramework="net48" />
  <package id="System.Data.OleDb" version="5.0.0" targetFramework="net48" />
  <package id="System.Data.SqlClient" version="4.8.2" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.1" targetFramework="net48" />
  <package id="System.Diagnostics.EventLog" version="5.0.1" targetFramework="net48" />
  <package id="System.Diagnostics.PerformanceCounter" version="5.0.1" targetFramework="net48" />
  <package id="System.DirectoryServices" version="5.0.0" targetFramework="net48" />
  <package id="System.DirectoryServices.AccountManagement" version="5.0.0" targetFramework="net48" />
  <package id="System.DirectoryServices.Protocols" version="5.0.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Packaging" version="5.0.0" targetFramework="net48" />
  <package id="System.IO.Pipes.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.IO.Ports" version="5.0.1" targetFramework="net48" />
  <package id="System.Management" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.ILGeneration" version="4.7.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.Caching" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Cng" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Pkcs" version="5.0.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.ProtectedData" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net48" />
  <package id="System.Security.Cryptography.Xml" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.ServiceModel.Duplex" version="4.8.1" targetFramework="net48" />
  <package id="System.ServiceModel.Http" version="4.8.1" targetFramework="net48" />
  <package id="System.ServiceModel.NetTcp" version="4.8.1" targetFramework="net48" />
  <package id="System.ServiceModel.Primitives" version="4.8.1" targetFramework="net48" />
  <package id="System.ServiceModel.Security" version="4.8.1" targetFramework="net48" />
  <package id="System.ServiceModel.Syndication" version="5.0.0" targetFramework="net48" />
  <package id="System.ServiceProcess.ServiceController" version="5.0.0" targetFramework="net48" />
  <package id="System.Speech" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="TextCopy" version="4.3.0" targetFramework="net48" />
  <package id="Verify" version="11.15.1" targetFramework="net48" />
  <package id="Verify.MSTest" version="11.15.1" targetFramework="net48" />
</packages>