@{
    ViewData["Title"] = "Index";
}
<div class="container">

    <h2>MVC Forms Example</h2>
    <p>Create, Read, Update and Delete done with MVC using the out of the box approach.  This uses the default MVC templates with no JavaScript</p>
    <h2>MVC AJAX Example</h2>
    <p>Create, Read, Update and Delete done with MVC.  This uses JavaScript AJAX calls to retrieve partial pages.</p>
    <h2>JavaScript with AJAX JSON Data from API</h2>
    <p>Create, Read, Update and Delete done with JavaScript making API Calls. This is a pure JavaScript appraoch, using MVC for the API methods.</p>
</div>
