@{
    ViewData["Title"] = "Index";
}
<div class="container">

    <h2>MVC CRUD Example</h2>
    <p>Create, Read, Update and Delete done with MVC using the out of the box approach.  This uses the default MVC templates. </p>
    <h2>MVC with AJAX </h2>
    <p>Create, Read, Update and Delete done with MVC.  This uses JavaScript AJAX calls to retrieve partial pages. </p>
    <h2>JavaScript with AJAX JSON Data from API</h2>
    <p>Create, Read, Update and Delete done with JavaScript making API Calls.</p>
</div>
