@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This site is part of the <a href='https://dev.azure.com/markhazleton/SampleMvcCRUD' target="_blank">SampleMvcCRUD project</a> on Azure Dev Ops.</p>
</div>

