@{
    var currentYear = DateTime.Now.Year.ToString();
    var status = new ApplicationStatus(Assembly.GetExecutingAssembly());
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12" style="float:left">
            Version: @status.BuildVersion.ToString() <br />
            <a href="https://github.com/markhazleton" target="_blank">GitHub</a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center;">
            &copy; 2019-@currentYear Sample CRUD
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12" style="float:right">
            Last Built: @status.BuildDate.ToLocalTime().ToLongDateString() <br />
            <a href="https://markhazleton.controlorigins.com" target="_blank" title="Mark Hazleton, Solutions Architect, Lifelong Learner, not sidetracked by sizzle">Mark Hazleton</a>
        </div>
    </div>
</div>
