@{
    ViewData["Title"] = "Index";
}

<h2>MVC CRUD Example</h2>



<h2>MVC with AJAX </h2>

<h2>JavaScript with AJAX JSON Data</h2>

<h2>React with ReactJS.Net</h2>
<a href='https://reactjs.net/getting-started/aspnet.html' target="_blank" />ReactJS.Net</a>
