
.github-profile {
    margin: 1rem;
}
    .github-profile img {
        max-width: 250px;
    }
    .github-profile .info {
        display: inline-block;
        margin-left: 12px;
    }
        .github-profile .info .name {
            font-size: 1.25rem;
            font-weight: bold;
        }

form {
    border: thin solid #ddd;
    background-color: #fbfbfb;
    padding: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.header {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
